*

!.python-version
!ci/

ci/*
!ci/lint/
!ci/lint_imagefile
!ci/retry/
!ci/test/
!ci/test_imagefile

ci/lint/*
!ci/lint/01_install.sh
!ci/lint/requirements.txt

ci/retry/*
!ci/retry/retry

ci/test/*
!ci/test/01_base_install.sh
!ci/test/01_iwyu.patch
!ci/test/02_iwyu_hash.patch
