name: CI
on:
  pull_request:
    branches:
      - master
jobs:
  assumeutxo:
    strategy:
      matrix:
        include:
          - network: signet
            timeout: 20
            utxo_path: /var/lib/bitcoin/utxo-signet-160000.dat
          - network: mainnet
            timeout: 600
            utxo_path: /var/lib/bitcoin/utxo-840000.dat
    runs-on: [self-hosted, linux, x64]
    timeout-minutes: ${{ matrix.timeout }}
    env:
      NIX_PATH: nixpkgs=channel:nixos-unstable
      UTXO_PATH: ${{ matrix.utxo_path }}
      BASE_SHA: ${{ github.event.pull_request.base.sha }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Fetch base commit
        run: |
          # Export the commit hash for use in later steps
          echo "CHECKOUT_COMMIT=$(git rev-parse HEAD)" >> "$GITHUB_ENV"

          # Fetch down to the base SHA for the base benchmark comparison as we
          # only checked out to depth 1
          git fetch --depth=1 origin ${{ github.event.pull_request.base.sha }}
      - name: Run AssumeUTXO ${{ matrix.network }}
        env:
          TMP_DATADIR: "${{ runner.temp }}/base_datadir"
        run: |
          env
          mkdir -p "$TMP_DATADIR"
          nix-shell --command "just run-assumeutxo-${{ matrix.network }}-ci $BASE_SHA $CHECKOUT_COMMIT $TMP_DATADIR $UTXO_PATH ${{ runner.temp }}/results.json"
      - uses: actions/upload-artifact@v4
        with:
          name: result-${{ matrix.network }}
          path: "${{ runner.temp }}/results.json"
      - uses: actions/upload-artifact@v4
        with:
          name: flamegraph-${{ matrix.network }}
          path: "**/*-flamegraph.html"
      - name: Write GitHub and runner context files
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
          RUNNER_CONTEXT: ${{ toJSON(runner) }}
        run: |
          mkdir contexts
          echo "$GITHUB_CONTEXT" | nix-shell -p jq --command "jq 'del(.token)' > contexts/github.json"
          echo "$RUNNER_CONTEXT" > contexts/runner.json
      - name: Upload context metadata as artifact
        uses: actions/upload-artifact@v4
        with:
          name: run-metadata-${{ matrix.network }}
          path: ./contexts/
